/* Reset CSS */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
} 

/* Custom PROPERTIES */
:root {
    --azzurro: #add8e6;
    --orancione: #daa520;
    --bluscuro: #00008b;
    --blue: #1e90ff;
    --rosa: #ffc0cb;
    --verde: #228b22;
    --rosso: #FF0000;
    --acquamarina: #20b2aa;
    --grigio: #dddcdc;

    --space-15: 15px;
    --space-30: 30px;
    --space-60: 60px;
}




/* Generics */
body{
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  font-size: large;
  line-height: 2rem;
}

h1 {
  
  font-size: 50px;
  font-weight: 600;
}

/* Utilties */
.cointainer {
    width: 1140px;
    margin: 0 auto;
}

.flex    {
    display: flex;
    }

.bg-color-grey
 {
    background-color: var(--grigio);
}


/* HEADER */
header {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;

}
.top-header {
    padding: 30px 0;
}

.nav {
    display: flex;
    height: 100px;

}

.sub-nav {
    align-items: stretch;
    flex-basis: calc(100% / 3);
    align-self: center;
}

.sub-nav-logo, .sub-nav-login {
    flex-basis: 15%;
    align-self: center;
} 

.sub-nav-menu {
    flex-basis: 70%;
    align-self: center;
} 

.sub-nav ul {
    display: flex;
    height: 100%;
    justify-content: center;
    list-style-type: none;
}

.sub-nav ul li {
    padding: 0 10px;
    margin: 0 10px;
    font-weight: bold;
}


/* Jumbotron */
#jumbotron {
    padding: var(--space-30)
   
}
.jumbotron-txt {
    margin: 0 auto;
    padding: 60px 220px;
    min-height: 500px;
}

.jumbotron-button {
    display: flex;
    height: 100px;
    justify-content: center;
}
.jumbotron-button * {
    align-content: center;
    display: flex;
    align-self: center;
}

.on {
    padding: 15px 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 30px;
    font-weight: bold;
    height: 50px;
    align-self: center;
}

.on a {
    color: #23272a;
    text-decoration: none;
}

.off {
    padding: 15px 20px;
    margin: 10px;
    border-radius: 30px;
    font-weight: bold;
    background-color: #23272a;
}

.off a {
    color: #ffffff;
    text-decoration: none;
}
/* MAIN */
main > .section {
    padding: 60px 0px;
}

.coloumn {

    
}

.column-left{
    padding: 30px;
    flex-basis: 65%;
    color: #23272a;

}

.column-right {
    padding: 30px;
    flex-basis: 35%;
}

.column-full {
    padding: 30px;
    width: 100%;
    text-align: center;
}

img.coloumn-item {
    width: 100%;
}

.column-full > h1:nth-child(4) {
    padding: 50px 0;
    background-image: url("../img/stars.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 800px;
    margin: auto;
}

.button-main {
    width: 300px;
    margin: 0 auto;
}

.off-main {
    padding: 15px 20px;
    margin: 10px;
    border-radius: 30px;
    font-weight: bold;
    background-color: #8ea1e1;
}

.off-main a {
    color: #ffffff;
    text-decoration: none;
}

.row {
    align-self: center;
    
}

.section {
    margin: var(--space-30) 0;

}

.column-full * img{
    width: 1000px;

}

.section * h1 {
font-size: 40px;
padding-bottom: var(--space-15);
}
.section * p {
font-size: 16px;
font-weight: normal;
line-height: 1.6;
}

/* FOOTER */
footer {
    background-color: #23272a;
    height: 500px;
}
.footer-top  {
    border-bottom: #8ea1e1 solid 1px;
    color: white;
    padding: var(--space-30);
 }
 .footer-bottom {
    background-color: #23272a;
    height: 100px;
 }

  .footer-coloumn-full {
    color: white;
    margin: 0 auto;
  }
#logo {
    width: 200px;
    height: 100%;
    padding: 10px;
  }
.button {
    width: 200px;
    height: 100%;
    padding: 10px;

}
.footer-bottom-content {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-content: center;
}
.footer-top-coloumn-left  {
    flex-basis: 20%;
    padding-top: 15px;
 }

.footer-top-coloumn-right {
    flex-basis: 80%;
    height: 100%;
    display: flex;
    padding: 15px;
    height: 100%;
}

.footer-top-row {
    height: 100%;
}
.footer-top-coloumn {
        width: 100%;
    }
.txt-small  {
        font-size: 12px;
    }
.icon  {
        width: 50px;
    } 
    
.social  {
        display: flex;
    }    
.language  {
        display: flex;
        height: 30px;
        margin: 10px 0;
        
    }   
    
.footer-top-coloumn ul {
    list-style-type: none;
}
.footer-top-coloumn ul li {
    margin: 8px 0;
    font-weight: bold;
}
.language-img {
    width: 40px;
    margin-right: 10px;
}

.italiano {
}

.language img  {
    width: 100%;
    
}

div.footer-top-coloumn:nth-child(1) > ul:nth-child(1) > li:nth-child(1), div.footer-top-coloumn:nth-child(2) > ul:nth-child(1) > li:nth-child(1), div.footer-top-coloumn:nth-child(3) > ul:nth-child(1) > li:nth-child(1), div.footer-top-coloumn:nth-child(4) > ul:nth-child(1) > li:nth-child(1) {
color: #8ea1e1;
}
.logo {
    width: 130px;
    padding: 5px 0px;
    align-items: baseline;
}
.fa-brands,
.fab {
    font-weight: 400;
    font-size: xx-large;
}